@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';

@import 'tailwindcss/utilities';

/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fbbf24
    , #fbbf24
    );
    background-position: 0 100%; /*OR bottom left*/
    font-family: 'Poppins', sans-serif;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s;
 
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fbbf24
    , #fbbf24
    )
}

.link-underline:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 3px;
}

.hero {
    background-image: url(../public/images/bg2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
    height: 100vh;
  }

#title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
}

#hero-sub {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
}


#hero-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  
}

@import 'tailwindcss/utilities';

/*******************FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}
/********************HERO AND FOOTER FONT STUFF */
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fbbf24
    , #fbbf24
    );
    background-position: 0 100%; /*OR bottom left*/
    font-family: 'Poppins', sans-serif;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.3s,
      background-position 0s 0.3s;
 
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fbbf24
    , #fbbf24
    )
}

.link-underline:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 3px;
}

.hero {
    background-image: url(../public/images/bg2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
    height: 100vh;
  }

#title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
}

#hero-sub {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
}


#hero-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  
}
#footer-header{
    font-family: 'Poppins', sans-serif;
  
}

#footer-place{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  
}

.footer-text {
    font-family: 'Poppins', sans-serif;
  
}

.hover-grad-txt {
    background: linear-gradient(to right, crimson, #01A5F8, #01BFD8);
    background-size: 100% 100%;
    animation: pretty 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    transition: color 1s ease-in-out;
    font-size: 100px;
  }
  
  .hover-grad-txt:hover {
    color: rgba(0, 0, 0, 0);
  }
  
  @keyframes pretty {
    0% {
      background-position: left
    }
    50% {
      background-position: right
    }
    100% {
      background-position: left
    }
  }
/********************PHOTO ANIMATION */ 
.photo-container {
  position: relative;
  overflow: hidden;
}

.photo-container img {
  transition: transform 0.3s ease;
}

.photo-container:hover img {
  transform: scale(1.1);
}

/********************BUTTON ANIMATION */
.i::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 20%;
    background: white;
  /*   background: #3B82F6; */
    /* Centering */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  
  .i:hover:before {
    animation: anim-in 0.7s forwards ease-out;
  }
  
  @keyframes anim-in {
    100% {
      opacity: 0%;
      border-radius: 0;
      width: 600px;
      height: 600px;
    }
    0% {
      width: 0px;
      height: 0px;
      border-radius: 100%;
      opacity: 20%;
    }
  }

  /********************SERVICES HEADER */
  .services{
   
    
    justify-content:space-between;
}
.single-service{
    flex-basis:390px;
    padding:30px 25px;
    text-align:center;
    border:1px solid #ddd;
    box-shadow:0 5px 30px -5px #eee;
    position:relative;
    margin-bottom: 20px;
}
.service-icon{
    position:relative;
    margin-bottom:40px;
}
.service-icon i{
    font-size:20px;
    color:#599eff;
    padding:20px;
    border:1px solid #ffc400;;
    border-radius:50%;
    transition:.3s;
}
.service-icon:before{
    position:absolute;
    content:"";
    width:2px;
    height:20px;
    background-color:#ffc400;;
    left:50%;
    top:100%;
    transform:translateX(-50%)
}
.service-icon:after{
    position:absolute;
    content:"";
    width:40px;
    height:2px;
    background-color:#ffc400;;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%)
}
.single-service h4{
    text-transform:capitalize;
    font-size:22px;
    margin-bottom:10px;
}
.single-service p{
    margin-bottom:10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(102, 102, 102);
    font-size: 14px;
}



.single-service:before{
    position:absolute;
    content:"";
    height:0;
    left:0;
    top:0;
    border-left:2px solid #ffc400;
    transition:.3s;
}
.single-service:after{
    position:absolute;
    content:"";
    height:0;
    right:0;
    bottom:0;
    border-right:2px solid #ffc400;;
    transition:.3s;
}

.single-service:hover:before, .single-service:hover:after{
    height:50%;
}

.single-service:hover i{
    background-color:#ffc400;;
    color:#fff;
}

#service-text {
    font-size: small;
    line-height: 1.5rem;
}


/*--------------------------------------------------------------
# GALLERY
--------------------------------------------------------------*/

.carousel {
  position: relative;
  margin-top: 54px;
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.carousel-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.carousel-image.active {
  display: block;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.carousel-dot {
  width: 10px;
  height: 6px;
  background-color: #ccc;
  margin: 0 5px;
  transition: all 0.3s;
}

.carousel-dot.active {
  background-color: #333;
  height: 8px;
}


/*******************OTHER */
.accord-text {
  font-family: 'Inter', sans-serif;
  color: black!important;
  font-size: 1rem!important;
}

.other-bg {
  background-image: url(../public/images/bg_plain.png);
  background-size: cover;
  background-position: center;
}

